<div id="container-login" class="text-center">
  <form [formGroup]="formLogin" class="form-signin" (ngSubmit)="logar()">
    <div class="bg-light p-3 rounded shadow">
      <div class="">
      <img class="mb-4" src="../../assets/logo.svg" alt="" height="72">
      </div>
      <h1 class="h3 mb-3 font-weight-normal">Entre</h1>
      <label for="inputEmail" class="sr-only">E-mail</label>
      <input formControlName="inputEmail" type="email" id="inputEmail"  class="form-control" placeholder="Endereço de e-mail" autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input formControlName="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Senha">
      <div class="checkbox mb-3 text-left">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; AMCOM 2019</p>
    </div>
  </form>
</div>