<app-container-common>

  <div class="bg-dark p-3 rounded">
    <table class="table">
      <thead class="text-white">
        <tr>
          <th class="border-top-0">#</th>
          <th class="border-top-0">Solicitante</th>
          <th class="border-top-0">E-mail</th>
          <th class="border-top-0">Descrição</th>
          <th class="border-top-0">Preço</th>
          <th class="border-top-0">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let item of solicitacaoList">
          <th>{{item.idSolicitacao}}</th>
          <td>{{item.nomeSolicitante}}</td>
          <td>{{item.emailSolicitante}}</td>
          <td>{{item.descricaoItem}}</td>
          <td>{{item.valorSolicitado | currency:'BRL'}}</td>
          <td>
            <button class="btn btn-success" [routerLink]="['solicitacao', item.idSolicitacao]"
              routerLinkActive="router-link-active">VER</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</app-container-common>